<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddiamonds" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
     <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".Splash"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="SignUp"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="Login"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="ForgotPassword"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="Home"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="Brands"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="Categories"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="About"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="StoreLocation"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="ProductList"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="ProductDetails"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="FavList"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="ContactUS"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="TryIt"
            android:configChanges="orientation"
            android:theme="@style/AppBaseTheme" >
        </activity>
        
        
        <!--Google MAP API key-->

		<meta-data
		   android:name="com.google.android.maps.v2.API_KEY"
		   android:value="AIzaSyBH8F_XXQ_0zA5IT4MJNHfK16L0ywZpJQg" />

		<meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
   
    </application>

</manifest>